
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dash_menu{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

button .line{
  width: 35px;
  height: 5px;
  margin: 6px 0;
}

#title {
  text-align: left;
}

#delete{
  width: 80px;
  text-align: right;
}

#navadmin{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color:#f2c9cb;
}

#deletebutton{
  background-color: #8a8a8a;
  color: white;
}

#deletebutton:hover{
  opacity: .9;
}

#icon{
  width: 72px;
  height: 72px;
  background-image: url("img/icon72.png");
}

.MuiButton-containedPrimary {
  color: #fff;
  display: flex;
  background-color: none!important;
  box-shadow: none;
  height: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#ad_loginform{
  padding: 100px;
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#ad_loginform input{
  height: 28px;
  width: 200px;
  border-radius: 3px;
  margin: 10px auto;
}

#ad_loginButton{
  width: 100px;
  margin: 0 auto;
}

.MuiTableContainer-root {
  width: 100%;
  margin: 50px 0 0 0;
  border: 1px solid lightgray;
}
   
@media screen and (max-width: 480px) {

    .tables {
        width:100%;
        margin: "0 auto";
        margin-top: 150;
 
    }

    table{
      width:50%;
      padding-top: 200px;
    }
   
    #ad_loginform{
      padding: 100px;
      width: 300px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    }

    #ad_loginform input{
      height: 28px;
      width: 200px;
      border-radius: 3px;
      margin: 10px auto;
    }

    
    .App {
      text-align: center;
      width: 100%;
    }

    th{
      width: 20%;
    }

  }